@page
@model DBTestModel
@{
    ViewData["Title"] = "DBTest";
}
<h1>@ViewData["Title"]</h1>

<p>Message: @Model.Message</p>

<p>Try3: @Model.SingleEmployee?.FirstName @Model.SingleEmployee?.LastName @Model.SingleEmployee?.Address</p>


